.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.item{
    margin-bottom: 10px;
    background-color: blueviolet;
    
}

.title span{
    padding-left: 20px;
    color: white;
    font-size: larger;
    font-weight: 900;
}


.content{
   text-align: center;
   width: 70vw;
   padding-bottom: 20px;
   color: aliceblue;
   
}

